[submodule "tinycolor"]
	path = tinycolor
	url = https://github.com/bgrins/TinyColor
[submodule "colourpicker"]
	path = colourpicker
	url = https://github.com/Tobsta/ColourPicker
[submodule "croquis"]
	path = croquis
	url = https://github.com/disjukr/croquis.js
[submodule "mousetrap"]
	path = mousetrap
	url = https://github.com/ccampbell/mousetrap
