
:root {
	--icon-size: 24px;

	--menu-height: 26px;
	--footer-height: var(--icon-size);
	--toolbar-width: calc(var(--icon-size) * 2);
	--options-width: 300px;

	--area-border: 1px solid lightslategrey;
	--area-background: darkslategrey;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin-top: 0;
	font-weight: 300;
}

.hidden {
	display: none;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: var(--menu-height);
	width: 100%;
	border-bottom: var(--area-border);
	background: var(--area-background);
	z-index: 1;
}

.toolbar {
	position: absolute;
	top: var(--menu-height);
	left: 0;
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: var(--toolbar-width);
	border-right: var(--area-border);
	background: var(--area-background);
}

.tool-options {
	position: absolute;
	top: var(--menu-height);
	right: 0;
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: var(--options-width);
	border-left: var(--area-border);
	background: var(--area-background);
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 0.8em;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: var(--footer-height);
	width: 100%;
	border-top: var(--area-border);
	background: var(--area-background);
}

.modals {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 2;
	padding: 100px 260px;
}

.modal {
	display: block;
	width: 100%;
	height: 100%;
	background: white;
	padding: 20px;
}

.modal-close {
	position: absolute;
	top: 108px;
	right: 268px;
}

.canvases {
	position: absolute;
	top: var(--menu-height);
	left: var(--toolbar-width);
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: calc(100% - var(--toolbar-width) - var(--options-width));
	background: white;
}

.canvases canvas {
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100%;
	height: 100%;*/
}

.picker {
	position: relative;
	height: calc(var(--options-width) - 20px);
	width: calc(var(--options-width) - 20px);
}
.picker div {
	position: relative;
}
.picker div canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.colour-picker-preview {
	border-top: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	top: calc(var(--options-width) - 36px);
	left: 0;
	margin-left: 0;
	z-index: 1;
}

.line-thickness {
	width: 100%;
}


#tablet-api {
	position: absolute;
	top: -1000px;
}

.croquis-dirty-rect-display {
	touch-action: none;
}

.circle-brush {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 15px;
	background-color: #000;
}

.brush-pointer {
	position: absolute;
	font-size: 0;
	pointer-events: none;
	z-index: 9999;
}

.brush-image {
	height: 30px;
	opacity: 0.3;
}

.brush-image:hover {
	cursor: pointer;
	opacity: 1;
}

.brush-image.on {
	opacity: 1;
}

.tool-options div.small-button {
	color: black;
	display: inline-block;
}

.remove-layer-button {
	margin-left: 10px;
}

.tool-options * {
	color: white;
}

.tool-options button {
	color: black;
}

.layer {
	display: block;
	padding: 6px;
}
.layer.active {
	font-weight: 600;
}
