
:root {
	--icon-size: 24px;

	--menu-height: 60px;
	--footer-height: var(--icon-size);
	--toolbar-width: calc(var(--icon-size) * 2);
	--options-width: 300px;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: var(--menu-height);
	width: 100%;
	background: red;
}

.toolbar {
	position: absolute;
	top: var(--menu-height);
	left: 0;
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: var(--toolbar-width);
	background: green;
}

.tool-options {
	position: absolute;
	top: var(--menu-height);
	right: 0;
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: var(--options-width);
	background: blue;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: var(--footer-height);
	width: 100%;
	background: grey;
}

.image-canvas {
	position: absolute;
	top: var(--menu-height);
	left: var(--toolbar-width);
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: calc(100% - var(--toolbar-width) - var(--options-width));
	background: black;
}
