
:root {
	--icon-size: 24px;

	--menu-height: 60px;
	--footer-height: var(--icon-size);
	--toolbar-width: calc(var(--icon-size) * 2);
	--options-width: 300px;

	--area-border: 1px solid lightslategrey;
	--area-background: darkslategrey;
}

* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: var(--menu-height);
	width: 100%;
	border-bottom: var(--area-border);
	background: var(--area-background);
}

.toolbar {
	position: absolute;
	top: var(--menu-height);
	left: 0;
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: var(--toolbar-width);
	border-right: var(--area-border);
	background: var(--area-background);
}

.tool-options {
	position: absolute;
	top: var(--menu-height);
	right: 0;
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: var(--options-width);
	border-left: var(--area-border);
	background: var(--area-background);
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: var(--footer-height);
	width: 100%;
	border-top: var(--area-border);
	background: var(--area-background);
}

.canvases {
	position: absolute;
	top: var(--menu-height);
	left: var(--toolbar-width);
	height: calc(100% - var(--menu-height) - var(--footer-height));
	width: calc(100% - var(--toolbar-width) - var(--options-width));
	background: black;
}

.canvases canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.picker {
	position: relative;
	height: var(--options-width);
	width: var(--options-width);
}
.picker div {
	position: relative;
}
.picker div canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.colour-picker-preview {
	border-top: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	top: var(--options-width);
	left: 0;
	margin-left: 0;
	z-index: 1;
}

.line-thickness {
	width: 100%;
}
