:root {
	--range-track-background: #666;
	--range-track-border: 0.5px solid #333;
	--range-track-height: 6px;
	--range-thumb-background: white;
	--range-thumb-size: 12px;
	--range-thumb-border: 0;
	--range-thumb-border-radius: 6px;

	--menu-text-color: white;
	--menu-background: darkslategrey;
	--menu-background-hover: lightslategrey;
	--menu-item-width: 120px;
}

input[type="range"] {
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
	background: transparent;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: var(--range-track-height);
	cursor: pointer;
	animate: 0.2s;
	background: var(--range-track-background);
	border-radius: 25px;
	border: var(--range-track-border);
}
input[type="range"]::-webkit-slider-thumb {
	border: var(--range-thumb-border);
	height: var(--range-thumb-size);
	width: var(--range-thumb-size);
	border-radius: var(--range-thumb-border-radius);
	background: var(--range-thumb-background);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: var(--range-track-background);
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: var(--range-track-height);
	cursor: pointer;
	animate: 0.2s;
	background: var(--range-track-background);
	border-radius: 25px;
	border: var(--range-track-border);
}
input[type="range"]::-moz-range-thumb {
	border: var(--range-thumb-border);
	height: var(--range-thumb-size);
	width: var(--range-thumb-size);
	border-radius: var(--range-thumb-border-radius);
	background: var(--range-thumb-background);
	cursor: pointer;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: var(--range-track-height);
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 0;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: var(--range-track-background);
	border: var(--range-track-border);
	border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
	background: var(--range-track-background);
	border: var(--range-track-border);
	border-radius: 50px;
}
input[type="range"]::-ms-thumb {
	border: var(--range-thumb-border);
	height: var(--range-thumb-size);
	width: var(--range-thumb-size);
	border-radius: var(--range-thumb-border-radius);
	background: var(--range-thumb-background);
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: var(--range-track-background);
}
input[type="range"]:focus::-ms-fill-upper {
	background: var(--range-track-background);
}


fieldset {
	padding: 0 5px;
}



.small-button {
	height: 24px;
	width: 24px;
	padding: 0;
	font-size: 19px;
	padding-top: -13px;
	padding-left: 3px;
	background: lightgrey;
	border-radius: 3px;
	border: 1px solid grey;
	cursor: pointer;
}



.menu-bar, .menu-bar ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.menu-bar span {
	display: block;
	color: var(--menu-text-color);
	text-decoration: none;
	font-size: 12px;
	padding: 5px 8px;
	cursor: default;
}
.menu-bar span[onclick] {
	cursor: pointer;
}
/* Grey out items with onclick='alert("TODO")' */
.menu-bar span[onclick^='alert'] {
	color: grey;
}
.menu-bar p {
	padding: 0;
	margin: 0;
	display: block;
	color: var(--menu-text-color);
	font-size: 12px;
	float: right;
}
.menu-bar a {
	color: var(--menu-text-color);
	text-decoration: none;
}

.menu-bar li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	background: var(--menu-background);
}

.menu-bar li.current-menu-item, .menu-bar li:hover {
	background: var(--menu-background-hover);
}

.menu-bar ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--menu-background);
	padding: 0;
}

.menu-bar ul li {
	float: none;
	width: var(--menu-item-width);
}

.menu-bar ul span {
	line-height: 120%;
}

.menu-bar ul ul {
	top:0;
	left:100%
}

.menu-bar li:hover > ul {
	display:block
}
